body {
    background-color: #81a7d5;
}

.contenedor-principal {
    background-color: #f8f9fd;
    width: 90vw;
    min-height: 90vw;
    margin:5%;
    border-radius: 15px;
}

.header-box {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    width: 90vw;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 0px 2px 7px #dcdcdc42;
}

.menu {
    display: flex;
    margin-right: 50px;
    margin-top: 15px;
}

.logo {
    width: 43px;
    margin-left: 80px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.menu-items {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}

.ProfileMainBox {
    background-color: #ffffff;
    height: 231px;
    margin: 60px;
    box-shadow: 0px 0px 4px 1px #0301010a;
}

.seccion-A {
    display: flex;
}

img.profile {
    width: 150px;
    border-radius: 150px;
    margin-top: 40px;
    margin-left: 40px;
}

h1.profile-name {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: #464646;
    font-size: 25px;
    margin-top: 50px;
}

p.profile-title {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.profile-text {
    margin-left: 30px;
}

button.contact-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 11px 20px;
    border-radius: 3px;
}

button.Resume-button {
    background-color: #ffffff;
    border: 2px solid #1e74ac;
    color: #1e74ac;
    padding: 10px 19px;
    border-radius: 3px;
    margin-left: 15px;
}